{% if info.text_show_type == 'all' or info.text_show_type == 'pc' %}
    <div
        style="padding: {{ info.pc_top | divided_by: 19.2 }}vw {{ info.pc_right | divided_by: 19.2 }}vw {{ info.pc_bottom | divided_by: 19.2 }}vw {{ info.pc_left | divided_by: 19.2 }}vw;"
        class="_dev-text flex-{{ info.pc_align }} desktop-done">
        <div
            style="line-height: {{ info.pc_line | divided_by: 100.0 }};
                font-size: {{ info.pc_size | divided_by: 19.2 }}vw;
                font-weight: {{ info.pc_weight }};
                color: {{ info.pc_color }};
                text-align: {{ info.pc_align }};
                gap: 8px;
                --strong-color: {{ info.pc_emphasize_color }};
                --strong-weight: {% if font != blank %}inherit{% else %}700{% endif %};
                {%- if font != blank -%}font-family: {{ font }};{%- endif -%}"
            class="_text-content{% if info.prefix_url != blank or info.suffix_url != blank %} flex-center flex-wrap{% endif %}">
            {% if info.prefix_url != blank %}
                <img
                    loading="lazy"
                    style="height: {{ info.pc_size | plus: 4 | divided_by: 19.2 }}vw; width: auto; vertical-align: middle;"
                    src="{{ info.prefix_url | img_url: '100x' }}" alt=""/>
            {% endif %}
            {%- if info.pc_fade_up -%}
                <split-words class="split-words block"
                             data-animate="fade-up-large"
                             data-animate-delay="250">
                    {{ info.pc_text }}
                </split-words>
            {%- else -%}
                {{ info.pc_text }}
            {%- endif -%}
            {% if info.suffix_url != blank %}
                <img
                    loading="lazy"
                    style="height: {{ info.pc_size | plus: 4 | divided_by: 19.2 }}vw; width: auto; vertical-align: middle;"
                    src="{{ info.suffix_url | img_url: '100x' }}" alt=""/>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if info.text_show_type == 'all' or info.text_show_type == 'h5' %}
    <div
        style="padding: {{ info.mb_top }}px {{ info.mb_right }}px {{ info.mb_bottom }}px {{ info.mb_left }}px;"
        class="_dev-text flex-{{ info.mb_align }} mobile-done">
        <div
            class="_text-content{% if info.prefix_url != blank or info.suffix_url != blank %} flex-center flex-wrap{% endif %}"
            style="color: {{ info.mb_color }};
                line-height: {{ info.h5_line | divided_by: 100.0 }};
                font-size: {{ info.mb_size }}px;
                font-weight: {{ info.mb_weight }};
                text-align: {{ info.mb_align }};
                gap: 7px;
                --strong-color: {{ info.mb_emphasize_color }};
                --strong-weight: {% if font != blank %}inherit{% else %}700{% endif %};
                {%- if font != blank -%}font-family: {{ font }};{%- endif -%}">
            {% if info.prefix_url != blank %}
                <img
                    loading="lazy"
                    style="height: {{ info.mb_size | plus: 4 }}px; width: auto; vertical-align: middle;;"
                    src="{{ info.prefix_url | img_url: '100x' }}"
                    alt=""/>
            {% endif %}
            {%- if info.mb_fade_up -%}
                <split-words class="split-words block"
                             data-animate="fade-up-large"
                             data-animate-delay="250">
                    {{ info.mb_text }}
                </split-words>
            {%- else -%}
                {{ info.mb_text }}
            {%- endif -%}
            {% if info.suffix_url != blank %}
                <img
                    loading="lazy"
                    style="height: {{ info.mb_size | plus: 4 }}px; width: auto; vertical-align: middle;"
                    src="{{ info.suffix_url | img_url: '100x' }}"
                    alt=""/>
            {% endif %}
        </div>
    </div>
{% endif %}