{% assign sid = section.id | split: '__' | last %}
<style>
    .{{ sid }}-btn-{{ order }} {
        padding: {{ info.top | divided_by: 19.2 }}vw {{ info.right | divided_by: 19.2 }}vw {{ info.bottom | divided_by: 19.2 }}vw {{ info.left | divided_by: 19.2 }}vw;
        gap: {{ info.pc_gap }}px;
    }
    .{{ sid }}-btn-{{ order }} .btn-now {
        height: auto;
        line-height: 1.14;
        text-align: center;
        gap: 7px;
        border-radius: {% if info.btn1_border_radius != blank %}{{ info.btn1_border_radius }}px{% else %}100px{% endif %};
        transition: opacity 0.3s;
        text-decoration: none;
        font-size: {{ info.btn1_pc_size | divided_by: 19.2 }}vw;
        font-weight: {{ info.btn1_pc_weight }};
        padding: {{ info.btn1_pc_y | divided_by: 19.2 }}vw {{ info.btn1_pc_x | divided_by: 19.2 }}vw;
        background: {% if info.btn1_bg_color != blank %}{{ info.btn1_bg_color }}{% else %}none{% endif %};
        color: {{ info.btn1_color }};
        box-shadow: inset 0 0 0{% if info.btn1_show_border != blank %} 1px {{ info.btn1_border_color }}{% else %}transparent{% endif %};
    }
    {%- if info.btn1_prefix_url != blank or info.btn2_prefix_url != blank -%}
    .{{ sid }}-btn-{{ order }} .image {
        height: var(--height);
        vertical-align: middle;
        width: auto;
        object-fit: contain;
    }
    {%- endif -%}

    {%- if info.show_btn2 -%}
    .{{ sid }}-btn-{{ order }} .btn-now.more {
        margin-left: {{ info.btn2_pc_left }}px;
        font-weight: {{ info.btn2_pc_weight }};
        font-size: {{ info.btn2_pc_size | divided_by: 19.2 }}vw;
        padding: {{ info.btn2_pc_y | divided_by: 19.2 }}vw {{ info.btn2_pc_x | divided_by: 19.2 }}vw;
        background: {% if info.btn2_bg_color != blank %}{{ info.btn2_bg_color }}{% else %}none{% endif %};
        color: {{ info.btn2_color }};
        border-radius: {% if info.btn2_border_radius != blank %}{{ info.btn2_border_radius }}px{% else %}100px{% endif %};;
        box-shadow: inset 0 0 0{% if info.btn2_show_border != blank %} 1px {{ info.btn2_border_color }}{% else %}transparent{% endif %};
    }
    {%- endif -%}
    .{{ sid }}-btn-{{ order }} .btn-now:hover {
        opacity: 0.8;
    }
    @media screen and (max-width: 1023px) {
        .{{ sid }}-btn-{{ order }} {
            padding: {{ info.mb_top }}px {{ info.mb_right }}px {{ info.mb_bottom }}px {{ info.mb_left }}px;
            justify-content: {% if info.mb_align == 'flex-left' %}flex-start{% elsif info.mb_align == 'flex-center' %}center{% else %}flex-end{% endif %};
            gap: {{ info.mb_gap }}px;
        }
        .{{ sid }}-btn-{{ order }} .btn-now {
            font-size: {{ info.btn1_mb_size }}px;
            font-weight: {{ info.btn1_mb_weight }};
            padding: {{ info.btn1_mb_y }}px {{ info.btn1_mb_x }}px;
            background-color: {{ info.btn1_bg_color }};
            color: {{ info.btn1_color }};
        }
    {%- if info.show_btn2 -%}
        .{{ sid }}-btn-{{ order }} .btn-now.more {
            margin-left: {{ info.btn2_mb_left }}px;
            font-size: {{ info.btn2_mb_size }}px;
            font-weight: {{ info.btn2_mb_weight }};
            padding: {{ info.btn2_mb_y }}px {{ info.btn2_mb_x }}px;
            background: {{ info.btn2_bg_color }};
            color: {{ info.btn2_color }};
        }
    {%- endif -%}
    {%- if info.btn1_prefix_url != blank or info.btn2_prefix_url != blank -%}
        .{{ sid }}-btn-{{ order }} .image {
            height: var(--mb-height);
        }
    {%- endif -%}
    }
</style>
<div class="{{ sid }}-btn-{{ order }} w-full {{ info.pc_align }}">
    {%- for v in (1..2) -%}
        {%- liquid
            assign show = 'show_btn' | append: v
            assign ability = 'btn' | append: v | append: '_ability'
            assign link = 'btn' | append: v | append: '_link'
            assign position = 'btn' | append: v | append: '_position'
            assign prefix = 'btn' | append: v | append: '_prefix_url'
            assign suffix = 'btn' | append: v | append: '_suffix_url'
            assign pc_size = 'btn' | append: v | append: '_pc_size'
            assign mb_size = 'btn' | append: v | append: '_mb_size'
            assign text = 'btn' | append: v | append: '_text'
        -%}
        {%- if info[show] -%}
            {%- liquid
                assign tag = 'button'
                if info[ability] == 'link'
                    assign tag = 'a'
                endif
                capture attr
                    if tag == 'a'
                        echo 'href="' | append: info[link] | append: '"'
                    else
                        echo 'onclick="$heybike.emit(' | append: "'" | append: sid | append: '_btn_pos' | append: "'," | append: info[position] | append: ')"'
                    endif
                endcapture
            -%}
            <{{ tag }}
                {{ attr }}
                class="btn-now cursor-pointer flex-center{% if v == 2 %} more{% endif %}">
                {% if info[prefix] != blank %}
                    <img
                        class="image"
                        style="--height: {{ info[pc_size] | plus: 10 | divided_by: 19.2 }}vw; --mb-height: {{ info[mb_size] | plus: 4 }}px;"
                        src="{{ info[prefix] | img_url: '100x' }}" alt=""/>
                {% endif %}
                {{ info[text] }}
                {% if info[suffix] != blank %}
                    <img
                        class="image"
                        style="--height: {{ info[pc_size] | plus: 10 | divided_by: 19.2 }}vw; --mb-height: {{ info[mb_size] | plus: 4 }}px;"
                        src="{{ info[suffix] | img_url: '100x' }}" alt=""/>
                {% endif %}
            </{{ tag }}>
        {%- endif -%}
    {%- endfor -%}
</div>
{%- if info.btn1_ability == 'pos' or info.btn2_ability == 'pos' -%}
    <script>
        $heybike.bind('{{ sid }}_btn_pos', index => {
            const main = document.getElementById('MainContent');
            let childList = [...main.childNodes].filter(item => item.nodeType === 1);
            if (childList[0] && !childList[0].id.includes('shopify-section-template')) {
                childList = [...childList[0].childNodes].filter(item => item.nodeType === 1);
            }
            let targetNode = childList[index - 1];
            if (targetNode) {
                window.scrollTo({
                    top: $heybike.getOffset(targetNode).top - 80,
                    behavior: 'smooth'
                });
            }
        });
    </script>
{%- endif -%}