{%- liquid
    if desktop_size == blank
        assign desktop_size = '1920x'
    endif
    if mobile_size == blank
        assign mobile_size = '750x'
    endif
-%}
{%- if desktop_video != blank -%}
    {%- liquid
        assign desktop_video_url = ''
        assign desktop_size = desktop_size | replace: 'x', '' | plus: 0
        for source in desktop_video.sources
            if source.format == 'mp4'
                assign desktop_video_url = source.url
            endif
        endfor
        if desktop_cover != blank
            assign cover = desktop_cover | image_url: width: desktop_size
        else
            assign cover = desktop_video | image_url: width: desktop_size
        endif
    -%}
    {%- capture video_code -%}
        <video
            preload="none"
            x5-video-player-type="h5-page"
            x5-video-player-fullscreen="true"
            x-webkit-airplay="allow"
            playsinline
            x5-playsinline
            webkit-playsinline
            t7-video-player-type
            aria-hidden
            data-inline-media
            poster="{{ cover }}"
            {% if desktop_node != blank %}node-name="{{ desktop_node }}"{% endif %}
            class="video desktop-done {{ desktop_class }}"
            {% if loop == true %}loop{% endif %}
            {% if controls != blank %}controls{% endif %}
            {% if muted != false %}muted="muted"{% endif %}>
            <source
                src="{{ desktop_video_url }}"
                type="video/mp4">
        </video>
    {%- endcapture -%}
    {%- if frament == true -%}
        <div class="desktop-done"{% if desktop_node != blank %} node-name="{{ desktop_node }}"{% endif %}>
            {%- render 'global-image', image: cover, image_size: desktop_size -%}
            <template>
                {{ video_code }}
            </template>
        </div>
    {%- else -%}
        {{ video_code }}
    {%- endif -%}
{%- endif -%}
{%- if mobile_video != blank -%}
    {%- liquid
        assign mobile_video_url = ''
        assign mobile_size = mobile_size | replace: 'x', '' | plus: 0
        for source in mobile_video.sources
            if source.format == 'mp4'
                assign mobile_video_url = source.url
            endif
        endfor
        if mobile_cover != blank
            assign mb_cover = mobile_cover | image_url: width: mobile_size
        else
            assign mb_cover = mobile_video | image_url: width: mobile_size
        endif
    -%}
    {%- capture mb_video_code -%}
        <video
            preload="none"
            x5-video-player-type="h5-page"
            x5-video-player-fullscreen="true"
            x-webkit-airplay="allow"
            playsinline
            x5-playsinline
            webkit-playsinline
            t7-video-player-type
            aria-hidden
            data-inline-media
            poster="{{ mb_cover }}"
            {% if mobile_node != blank %}node-name="{{ mobile_node }}"{% endif %}
            class="video mobile-done {{ mobile_class }}"
            {% if controls != blank %}controls{% endif %}
            {% if loop == true %}loop{% endif %}
            {% if muted != false %}muted="muted"{% endif %}>
            <source
                src="{{ mobile_video_url }}"
                type="video/mp4">
        </video>
    {%- endcapture -%}
    {%- if frament == true -%}
        <div class="mobile-done" {% if mobile_node != blank %} node-name="{{ mobile_node }}"{% endif %}>
            {%- render 'global-image', image: mb_cover, image_size: mobile_size -%}
            <template>
                {{ mb_video_code }}
            </template>
        </div>
    {%- else -%}
        {{ mb_video_code }}
    {%- endif -%}
{%- endif -%}