{% comment %}
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": false
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>Title</p>"
    },
    {
      "type": "range",
      "id": "title_pc_size",
      "label": "Desktop title size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "title_pc_weight",
      "label": "Desktop title weight",
      "min": 200,
      "max": 900,
      "step": 100,
      "unit": "w",
      "default": 700
    },
    {
      "type": "range",
      "id": "title_pc_line",
      "label": "Desktop title line height",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "%",
      "default": 120
    },
    {
      "type": "range",
      "id": "title_mb_size",
      "label": "Mobile title size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "title_mb_weight",
      "label": "Mobile title weight",
      "min": 200,
      "max": 900,
      "step": 100,
      "unit": "w",
      "default": 700
    },
    {
      "type": "range",
      "id": "title_mb_line",
      "label": "Mobile title line height",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "%",
      "default": 120
    },
    {
      "type": "number",
      "id": "title_margin_bottom",
      "label": "Title margin bottom",
      "default": 16
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "title_bold_color",
      "label": "Title bold color",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "title_gradient_color",
      "label": "Title gradient color"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>description</p>"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "description_bold_color",
      "label": "Description bold color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "description_pc_size",
      "label": "Desktop description size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 18
    },
    {
      "type": "range",
      "id": "description_pc_line",
      "label": "Desktop description line height",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "%",
      "default": 120
    },
    {
      "type": "range",
      "id": "description_mb_size",
      "label": "Mobile description size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "range",
      "id": "description_mb_line",
      "label": "Mobile description line height",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "%",
      "default": 120
    },
    {
      "type": "number",
      "id": "description_pc_margin_bottom",
      "label": "Desktop description margin bottom",
      "default": 40
    },
    {
      "type": "number",
      "id": "description_mb_margin_bottom",
      "label": "Mobile description margin bottom",
      "default": 30
    }
{% endcomment %}
{% stylesheet %}
.section--title {
max-width: 1200px;
margin: 0 auto;
}
.section--title .title {
font-size: var(--font-size);
margin-bottom: var(--margin-bottom);
font-weight: var(--font-weight);
line-height: var(--line-height);
}
.section--title .title strong {
color: var(--bold-color);
font-weight: var(--bold-weight);
}
.section--title .description {
font-size: var(--font-size);
margin-bottom: var(--margin-bottom);
line-height: var(--line-height);
}
.section--title .description strong {
color: var(--bold-color);
}
@media screen and (max-width: 1440px) {
.section--title {
max-width: 960px;
margin: 0 auto;
}
.section--title .title {
font-size:var(--ms-font-size);
}
.section--title .description {
font-size: var(--ms-font-size);
margin-bottom: var(--ms-margin-bottom);
}
}
@media screen and (max-width: 1023px) {
.section--title {
max-width: 100%;
margin: 0 auto;
padding: 0 var(--page-padding);
}
.section--title .title {
font-size: var(--mb-font-size);
font-weight: var(--mb-font-weight);
line-height: var(--mb-line-height);
}
.section--title .description {
font-size: var(--mb-font-size);
margin-bottom: var(--mb-margin-bottom);
line-height: var(--mb-line-height);
}
}
{% endstylesheet %}
{%- if info.show_title or info.show_description -%}
    {%- assign mid = section.id | split: '__' | last -%}
    {%- liquid
        if tag == blank
            assign tag = info.title_tag | default: 'div'
        endif
    -%}
    <div class="{{ mid }}-section--title section--title __st text-center">
    {%- if info.show_title -%}
        {%- capture title_style -%}
            --font-size: {% if info.title_pc_size != blank %}{{ info.title_pc_size }}px{% else %}48px{% endif %};
            --ms-font-size: {% if info.title_pc_size != blank %}{{ info.title_pc_size | times: 0.8 | round }}px{% else %}38px{% endif %};
            --mb-font-size: {% if info.title_mb_size != blank %}{{ info.title_mb_size | divided_by: 16.0 }}rem{% else %}1.5rem{% endif %};
            --margin-bottom: {% if info.title_margin_bottom != blank %}{{ info.title_margin_bottom }}px{% else %}16px{% endif %};
            --mb-margin-bottom: {% if info.title_mb_margin_bottom != blank %}{{ info.title_mb_margin_bottom }}px{% else %}var(--margin-bottom){% endif %};
            --font-weight: {% if info.title_pc_weight != blank %}{{ info.title_pc_weight }}{% else %}700{% endif %};
            --mb-font-weight: {% if info.title_pc_weight != blank %}{{ info.title_pc_weight }}{% else %}700{% endif %};
            {%- if info.title_style -%}
                font-style: {{ info.title_style }};
            {%- endif -%}
            --line-height: {% if info.title_pc_line != blank %}{{ info.title_pc_line | divided_by: 100.0 }}{% else %}1.2{% endif %};
            --mb-line-height: {% if info.title_mb_line != blank %}{{ info.title_mb_line | divided_by: 100.0 }}{% else %}1.2{% endif %};
            --bold-color: {{ info.title_bold_color | default: info.title_color }};
            --bold-weight: {% if font != blank %}inherit{% else %}700{% endif %};
        {%- endcapture -%}
        <{{ tag }} class="title{% if info.title_gradient_color != blank %} text-gradient{% endif %}"
        style="{{ title_style }}{% if font != blank %}font-family: {{ font }}; {% endif %}{% if info.title_gradient_color != blank %}--background: {{ info.title_color.rgb }}; --gradient: {{ info.title_gradient_color }};{% else %}color: {{ info.title_color }};{% endif %}">{{ info.title }}</{{ tag }}>
    {%- endif -%}
    {%- if info.show_description -%}
        {%- capture desc_style -%}
            --font-size: {% if info.description_pc_size != blank %}{{ info.description_pc_size }}px{% else %}18px{% endif %};
            --ms-font-size: {% if info.description_pc_size != blank %}{{ info.description_pc_size | times: 0.8 | round }}px{% else %}14px{% endif %};
            --mb-font-size: {% if info.description_mb_size != blank %}{{ info.description_mb_size | divided_by: 16.0 }}rem{% else %}0.875rem{% endif %};
            --margin-bottom: {% if info.description_pc_margin_bottom != blank %}{{ info.description_pc_margin_bottom }}px{% else %}40px{% endif %};
            --ms-margin-bottom: {% if info.description_pc_margin_bottom != blank %}{{ info.description_pc_margin_bottom | times: 0.8 | round }}px{% else %}32px{% endif %};
            --mb-margin-bottom: {% if info.description_mb_margin_bottom != blank %}{{ info.description_mb_margin_bottom }}px{% else %}30px{% endif %};
            --line-height: {% if info.description_pc_line != blank %}{{ info.description_pc_line | divided_by: 100.0 }}{% else %}1.2{% endif %};
            --mb-line-height: {% if info.description_mb_line != blank %}{{ info.description_mb_line | divided_by: 100.0 }}{% else %}1.2{% endif %};
            --bold-color: {{ info.description_bold_color | default: info.description_color }};
        {%- endcapture -%}
        <div class="description" style="{{ desc_style }}color: {{ info.description_color }};">
            {{ info.description }}
        </div>
    {%- endif -%}
    </div>
{%- endif -%}