{%- assign ss = section.settings -%}
<style>
    .autumn-sale-says {
        padding: 58px 0 40px;
        background-color: #f9f7f6;
    }

    .autumn-sale-says .title {
        font-size: 36px;
        color: {{ ss.heading_color }};
        padding-bottom: 45px;
    }

    .autumn-sale-says .autumn-content .slider {
        margin: 0 auto;
    }

    .autumn-sale-says .autumn-content .say-text {
        color: {{ ss.content_color }};
        font-size: 18px;
        text-align: center;
        word-break: break-word;
        max-width: 873px;
        margin: 0 auto;
        padding: 0 48px;
        box-sizing: border-box;
    }

    .autumn-sale-says .slideshow-control {
        max-width: 873px;
        margin: 60px auto 0;
    }

    .autumn-sale-says .slideshow-control .slider--button {
        padding-top: 0;
    }

    .autumn-sale-says .slideshow-control .auto-blog.on .image {
        filter: grayscale(0);
    }

    .autumn-sale-says .slideshow-control .auto-blog .image {
        filter: grayscale(100%);
        max-height: 92px;
        width: auto;
        object-fit: contain;
        transition: filter 0.5s ease-in-out;
        display: none;
    }

    .autumn-sale-says .slideshow-control .auto-blog[aria-current="true"] .image {
        display: inline-block;
    }

    @media screen and (max-width: 1023px) {
        .autumn-sale-says {
            padding: 1.953125rem 0 0.8680555556rem;
        }

        .autumn-sale-says .title {
            font-size: 0.8680555556rem;
            padding-bottom: 1.6059027778rem;
        }

        .autumn-sale-says .autumn-content .slider {
            margin: 0 auto;
            width: 100%;
            padding-inline: 0;
            margin-inline: 0;
            scroll-padding-inline: 0;
        }

        .autumn-sale-says .autumn-content .card-grid {
            --slider-item-width: 100%;
            --card-grid-gap: 0;
        }

        .autumn-sale-says .autumn-content .say-text {
            font-size: 0.6076388889rem;
            max-width: 100%;
            padding: 0 1.3454861111rem;
            line-height: 2.2;
        }

        .autumn-sale-says .slideshow-control {
            max-width: 100%;
            margin: 0.4340277778rem auto 0;
            flex-direction: column;
            gap: 12px 0;
        }

        .autumn-sale-says .slideshow-control .auto-blog .image {
            max-height: 3.5373263889rem;
        }
    }

    {% render 'ndev-page-wrap-style', info: ss, class: '.autumn-sale-says' %}
</style>
<section class="autumn-sale-says w-full">
    {%- if ss.show_heading -%}
        <{{ ss.title_tag }} class="title tw-text-center tw-leading-[1.2] tw-font-bold">{{ ss.heading }}</{{ ss.title_tag }}>
    {%- endif -%}
    <div class="autumn-content w-full tw-relative">
        <slider-element id="Slider-{{ section.id }}" class="grid slider slider--desktop slider--tablet"
                        selector=".card-grid>.slider-item">
            <motion-list class="card-grid card-grid--1 mobile:card-grid--1 grid">
                {%- for block in section.blocks -%}
                    {%- assign bs = block.settings -%}
                    <div class="slider-item card">
                        <div class="say-text tw-leading-normal">
                            {{ bs.intro }}
                        </div>
                    </div>
                {%- endfor -%}
            </motion-list>
        </slider-element>
        <div class="slideshow-control w-full flex-between">
            <slider-dots aria-controls="Slider-{{ section.id }}" data-event-selector=".auto-blog" data-event-active="on">
                {%- for block in section.blocks -%}
                    {%- assign bs = block.settings -%}
                    <div class="auto-blog tw-cursor-pointer" data-index="{{ forloop.index }}"
                         aria-current="{% if forloop.first %}true{% else %}false{% endif %}">
                        {% render 'global-image', desktop_img: bs.image_icon, desktop_size: bs.image_icon.width, media_type: 'icon' %}
                    </div>
                {%- endfor -%}
            </slider-dots>
            {%- render 'slider-button', class: 'child-control' -%}
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Autumn Sale Says",
  "class": "mc--main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-says"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f9f7f6"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "What They Say"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "div",
          "label": "div"
        }
      ],
      "default": "div"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#666666"
    }
  ],
  "blocks": [
    {
      "type": "say",
      "name": "Say Item",
      "settings": [
        {
          "type": "richtext",
          "id": "intro",
          "label": "Intro",
          "default": "<p></p>"
        },
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Media icon"
        }
      ]
    }
  ]
}
{% endschema %}
